@import url(./global.css);
/* INICIO HEADER */
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;    
    padding: 40px 0px;
}


.header-links{
    display: flex;
    list-style: none;
    gap: 40px;
}

.green-text{
    color: #00A000;
}

.header-item{
    text-decoration: none;
    color: rgba(0, 0, 1, 0.6); 
}

.header-button-container{
    display: flex;   
    gap: 24px;
}

.header-button-iconbox{
    display: flex;
    width: 95px;
    height: 40px;
}

.header-button-icon{
    border: 0;
    background-color: transparent;   
    cursor: pointer;     
}

.header-button-login{
    width: 105px;
    height: 51px;
    border: 1px solid #00A000;
    border-radius: 10px;
    background-color: transparent;
    color:  #00A000;
    cursor: pointer;
}
/* FIM HEADER */

/* INICIO MAIN */
main{
    display: flex;
    justify-content: space-between;
    /* gap: 124px; */
    margin: 100px 100px 100px 180px;
}

.healthy-container{
    display: flex;
    width: 563px;
    height: 391px;
    flex-direction: column;
    gap: 32px;
    margin-top: 51.5px;
}

.healthy-container h1{    
    height: 160px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    
}

.healthy-container p{
    display: flex;
    color: rgba(0, 0, 1, 0.6);
    font-size: 18px; 
    width: 420px;
    line-height: 1.6;
}

.healthy-img{
    display: flex;
    width: 651px;
    height: 494px;
    /* overflow: hidden; */
}

.main-button-order{
    width: 144px;
    height: 51px;
    background-color: #00A000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}

.main-button-explore{
    width: 188px;
    height: 51px;
    background-color: transparent;
    border: 2px solid #00A000;
    color:  #00A000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
/* FIM MAIN */

/* INICIO WHY CHOOSE US */
.why-container{
    /* display: flex; */
    width: 679px;
    height: 87px;
    gap: 7px;
    margin: 0;
    align-items: center;
    justify-content: center;
}
.why-container h2{
    font-size: 48px;
    display: flex;
    width: 355px;
    height: 59px;
    margin: 0px 0px 7px 0px;
}

.why-container p{
    font-size: 18px;
    color: #999999;
    margin: 0;
}

/* FIM WHY CHOOSE US */
