@import url(./global.css);
/* INICIO HEADER */
header{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;    
    padding: 40px 0px;
}

.header-links{
    display: flex;
    list-style: none;
    gap: 40px;
}

.green-text{
    color: #00A000;
}

.header-item{
    text-decoration: none;
    color: rgba(0, 0, 1, 0.6); 
}

.header-button-container{
    display: flex;   
    gap: 24px;
}

.header-button-iconbox{
    display: flex;
    width: 95px;
    height: 40px;
}

.header-button-icon{
    border: 0;
    background-color: transparent;   
    cursor: pointer;     
}

.header-button-login{
    width: 105px;
    height: 51px;
    border: 1px solid #00A000;
    border-radius: 10px;
    background-color: transparent;
    color:  #00A000;
    cursor: pointer;
}
/* FIM HEADER */

/* INICIO MAIN */
main{
    display: flex;
    justify-content: space-between;
    /* gap: 124px; */
    margin: 100px 100px 100px 180px;
}

.healthy-container{
    display: flex;
    width: 563px;
    height: 391px;
    flex-direction: column;
    gap: 32px;
    margin-top: 51.5px;
}

.healthy-container h1{    
    height: 160px;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    
}

.healthy-container p{
    display: flex;
    color: rgba(0, 0, 1, 0.6);
    font-size: 18px; 
    width: 420px;
    line-height: 1.6;
}

.healthy-img{
    display: flex;
    width: 651px;
    height: 494px;
    /* overflow: hidden; */
}

.main-button-order{
    width: 144px;
    height: 51px;
    background-color: #00A000;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    border: 0;
}

.main-button-explore{
    width: 188px;
    height: 51px;
    background-color: transparent;
    border: 2px solid #00A000;
    color:  #00A000;
    cursor: pointer;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
}
/* FIM MAIN */

/* INICIO WHY CHOOSE US */
.why-bg{
    background-color: #FAFAFA;
    padding: 100px;
}
.why-container{
    display: flex;
    width: 679px;
    height: 87px;
    gap: 7px;
    margin-bottom: 60px;
    margin-left: 310px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.why-container h2{
    font-size: 48px;
    display: flex;
    width: 355px;
    height: 59px;
    margin: 0px 0px 7px 0px;
}

.why-container p{
    font-size: 18px;
    color: #999999;
    margin: 0;
}

.why-img-container{
    display: flex;
    justify-content: space-around;
}

.why-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 339px;
}

.order-img{
    display: flex;
    width: 216px;
    height: 289px;
    justify-content: center;
    align-items: center;
}

.why-img-text{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 220px;
    gap: 8px;
    margin-top: 40px;
}

.why-img-text h3{
    margin: 0px;  
    font-size: 18px;
    font-weight: bold;
}

.why-img-text p{
    font-size: 18px;
    color: rgba(0, 0, 1, 0.6);
}

.why-numbers{
    display: flex;
    justify-content: center;
    gap: 47px;
    margin-top: 60px;    
}

.why-numbers-text{
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 400px;
    height: 87px;
    justify-content: center;
    align-items: center;
}

.why-numbers-text h2{
    margin: 0;
    font-size: 48px;
    font-weight: bold;
}

.why-numbers-text p{
    font-size: 18px;
    color: rgba(0, 0, 1, 0.6);
}
/* FIM WHY CHOOSE US */

/* SPECIAL DISHES */
.special-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.special-container h2{
    font-size: 48px;
    font-weight: bold;
}

.special-dishes-container{
    display: flex;
    width: 1240px;
    height: 483px;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.special-img{
    display: flex;    
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 483px;
}

.special-img h3{
    font-size: 28px;
    margin: 0;
}

.special-img p{
    display: flex;
    width: 279px;
    height: 58px;
    font-size: 18px;
    color: rgba(0, 0, 1, 0.6);
}

.special-img button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 352px;
    height: 53px;
    background-color: #00A000;
    color: white;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
}
/* FIM SPECIAL DISHES */

/* CLIENTS */
.clients-bg{
    background-color: #FAFAFA;
    padding: 100px;
    gap: 60px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.clients-title{
    display: flex;      
    align-items: center;
    flex-direction: column;

    gap: 8px;
}

.clients-title h2{
    font-size: 48px;
    margin: 0;
}

.clients-title p{
    color: #999999;
    margin: 0;
}

.clients-container{
    display: flex;
    justify-content: center;
    align-items: center;    
    gap: 24px;
    margin-bottom: 60px ;
}

.clients-cards{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 329px;
    height: 320px;
    gap: 24px;
    background-color: #ffffff;
    border-radius: 16px;
    padding: 40px;
}

.clients-textbox{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin: 0;
}

.clients-textbox h3{
    margin: 0;
    font-size: 28px;
}

.clients-textbox p{
    margin: 0;
    font-size: 18px;
    width: 333px;
    text-align: center;
    color: rgba(0, 0, 1, 0.6);
}
/* FIM CLIENTS */

/* ABOUT US */
.about-container{
    display: flex;
    justify-content: center;   
    gap: 82px;    
    padding: 100px;
}

.about-text{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.about-text h2{
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}

.about-text p{
    font-size: 18px;
    margin: 0;
    color: rgba(0, 0, 1, 0.6);
    line-height: 1.5;
    width: 558px;
}

.about-text button{
    width: 157px;
    height: 53px;
    background-color: #00A000;
    color: white;
    border-radius: 10px;
    border: 0;
    font-size: 18px;
}

/* FIM ABOUT US */

/* SUBSCRIBE */
.subscribe-bg{
    background-color: #FAFAFA;
    display: flex;    
    padding: 100px 326px;
    margin-top: 60px;
    justify-content: center;    
}

.subscribe-container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    gap: 60px;
    height: 224px;
}

.subscribe-text{    
    text-align: center;
}

.subscribe-text h2{
    font-size: 48px;
    margin: 0;

}

.subscribe-text p{
    font-size: 18px;
    color: rgba(0, 0, 1, 0.6);
}

.subscribe-form{
    position: relative;
    display: flex;
    
}
.subscribe-input{      
    width: 688px;
    height: 61px; 
    border-radius: 8px;
    background-color: #ffffff;
    border: 1px solid #C1C1C1 ;
    padding: 8px 8px 8px 24px;    
}

.subscribe-input::placeholder{
    color: black;
    font-size: 18px;
}

.subscribe-button{
    width: 174px;
    height: 61px;
    background-color: #00A000;
    color: white;
    font-size: 24px;
    border-radius: 8px;
    border: 0;    
    position: absolute;
    top: 8px;
    left: 540px;
}
/* FIM SUBSCRIBE */

/* FOOTER */
.footer-bg{
    background-color: #00A000;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px;
}

.footer-container{
    display: flex;
    justify-content: center;
    gap: 500px;
    margin-bottom: 80px;
}

.footer-quickfood{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.footer-social{
    display: flex;    
    gap: 16px;
}

.footer-services{
    display: flex;    
    gap: 240px;    
}

.footer-list h2{
    color: white;
    margin: 0;
    margin-bottom: 30px;
}

.footer-links{
    list-style: none;    
    font-size: 18px;
    padding: 0;
}

.footer-item{
    text-decoration: none;
    display: block;
    gap: 16px;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-line{
    background-color: white;
    height: 1px;
    width: 1420px;
}

.footer-bottom{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-bottom p{
    color: white;
    font-size: 20px;    
}
/* FIM FOOTER */
